* {
    margin: 0;
    padding: 0;
}

.nav-bar {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 10vh;
}

.nav-bar-points {
  display: inline-block;
  font-size: 24px;
}

.nav-bar-points div {
    display: inline-block;
    margin-right: 3px;
    color: #ACBB99;
}

.nav-bar-points:nth-child(2) {
    display: inline-block;
    color: #707070;
}

.nav-bar-item {
  display: inline-block;
}

.nav-bar-icon {
  display: inline-block;
  position: relative;
  top: 7px;
}

.nav-bar-name {
  display: inline-block;
  margin: 0 10px;
  font-weight: 500;
  font-size: 24px;
}

.nav-bar-profile {
  position: absolute;
  display: flex;
  top: 3rem;
  right: 2.65rem;
  overflow-y: hidden;
}

.nav-bar-title {
  position: absolute;
  left: 2.65rem;
  top: 2.2rem;
  font-weight: 700;
  font-size: 38px;
  background-image: linear-gradient(90deg, #50BCDE , #A9EDD8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
